<li class="sti-menu-item" :class="{ 'sti-menu-top': model.level == 1, active: !fold}">
	<a href="javascript:;" class="sti-menu-text" :class="{ 'menu-top': model.level == 1, active: !fold, checked: model.checked}" :style="{'padding-left': paddingLeft + 'px'}" v-el:menu-item>
		<i class="sti-menu-icon fa" :class="[iconClass]" v-if="direction == 'veritcal'" style="margin-right:5px"></i>
		{{model.name}}
		<i class="sti-menu-arrow fa" :class="[directClass]" v-if="model.children.length>0"></i>
	</a>
	<template v-if="direction == 'veritcal'">
		<ul class="sti-menu-dropdown" v-if='model.children.length>0' :style="{height: dropHeight + 'px'}" >
			<menu-item v-for='child in model.children' :model='child' :direction='direction'></menu-item>
		</ul>
	</template>
	<template v-else>
		<ul class="sti-menu-dropdown" v-if='model.children.length>0 && !fold' :style="{width: dropWidth + 'px'}" >
			<menu-item v-for='child in model.children' :model='child' :direction='direction'></menu-item>
		</ul>
	</template>
</li>