<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>boom-vue</title>
	<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/js/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/commons/css/boom.css">
</head>
<body>
	<div class="boom-app"></div>
<script type="text/javascript" src="/static/js/dev/vendor.js?42f3424adf26e0fb9e30"></script><script type="text/javascript" src="/static/js/dev/commons.js?42f3424adf26e0fb9e30"></script><script type="text/javascript" src="/static/js/dev/main.js?42f3424adf26e0fb9e30"></script></body>
</html>