<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>STI-VUE</title>
<link rel="stylesheet" type="text/css" href="/static/js/bower_components/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/js/bower_components/highlightjs/styles/obsidian.css">
<link rel="stylesheet" type="text/css" href="/static/js/dist/css/sti.css">
<link rel="stylesheet" type="text/css" href="/static/js/bower_components/fontawesome/css/font-awesome.css">
</head>
<body>
  <script type="text/javascript" src="/static/js/bower_components/requirejs/require.js" data-main="/static/js/main"></script>
</body>
</html>