<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>boom-vue</title>
	<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/js/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/commons/css/boom.css">
</head>
<body>
	<div class="container">
		<h1 style="margin: 50px 0">
			Boom-Vue
		</h1>
		<h3>
			enjoy the trip
		</h3>
	</div>
</html>