<doc-section title="Timeline" sub-title="by liushuangshuang">

    <p slot="description">
        可以选择范围的时间轴
    </p>

    <div slot="example">
        <div class="form-horizontal">
            <div class="form-group" style="margin-bottom:80px;">
                <label for="timeDuration" class="col-sm-2 control-label">时间周期</label>
                <div class="col-sm-10">
                    <select class="form-control" v-model="duration" id="timeDuration">
                        <option value="1d">24小时</option>
                        <option value="7d">一周</option>
                        <option value="1M">一个月</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="height:50px;margin-bottom:20px;">
            <timeline :type="duration" background-color="pink" tick-color="green"></timeline>
        </div>
        <div style="height:50px;margin-bottom:20px;">
            <timeline :type="duration"
                direction="top"
                brush-fill="pink"
                brush-stroke="yellow"
                :brush-stroke-width="4"
                :brush-opacity="0.8"></timeline>
        </div>
        <div style="display:inline-block;width:80px;height:600px;">
            <timeline type="1d"
                :horizontal="false"></timeline>
        </div>
        <div style="display:inline-block;width:140px;height:600px;margin-right:20px;">
            <timeline type="1M"
                :horizontal="false"
                direction="left"
                :padding-left="100"></timeline>
        </div>
    </div>

    <doc-highlight type="html">
        <div class="form-horizontal">
            <div class="form-group" style="margin-bottom:80px;">
                <label for="timeDuration" class="col-sm-2 control-label">时间周期</label>
                <div class="col-sm-10">
                    <select class="form-control" v-model="duration" id="timeDuration">
                        <option value="1d">24小时</option>
                        <option value="7d">一周</option>
                        <option value="1M">一个月</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="height:50px;margin-bottom:20px;">
            <timeline :type="duration" background-color="pink" tick-color="green" v-pre></timeline>
        </div>
        <div style="height:50px;margin-bottom:20px;">
            <timeline :type="duration"
                direction="top"
                brush-fill="pink"
                brush-stroke="yellow"
                :brush-stroke-width="4"
                :brush-opacity="0.8"
                v-pre></timeline>
        </div>
        <div style="display:inline-block;width:80px;height:600px;">
            <timeline type="1d"
                :horizontal="false" v-pre></timeline>
        </div>
        <div style="display:inline-block;width:140px;height:600px;margin-right:20px;">
            <timeline type="1M"
                :horizontal="false"
                direction="left"
                :padding-left="100"
                v-pre></timeline>
        </div>
    </doc-highlight>

    <!--props描述-->
    <doc-api>
        <doc-prop name="type" type="String" default="1d" desc="时间范围的类型，支持'1d', '7d', '1M'"></doc-prop>
        <doc-prop name="horizontal" type="Boolean" default="true" desc="支持水平和垂直布局"></doc-prop>
        <doc-prop name="direction" type="String" default="'bottom', 'right'" desc="水平布局支持'top', 'bottom',垂直布局支持'left', 'right'"></doc-prop>
        <doc-prop name="backgroundColor" type="String" default="transparent" desc="画布的背景颜色"></doc-prop>
        <doc-prop name="tickColor" type="String" default="#000" desc="轴的刻度的颜色"></doc-prop>
        <doc-prop name="brushFill" type="String" default="#777" desc="选中区域的填充颜色"></doc-prop>
        <doc-prop name="brushStroke" type="String" default="#fff" desc="选中区域的描边颜色"></doc-prop>
        <doc-prop name="brushOpacity" type="String" default="0.3" desc="选中区域的透明度"></doc-prop>
        <doc-prop name="brushStrokeWidth" type="Integer" default="1" desc="选中区域的描边宽度"></doc-prop>
    </doc-api>
    
    <!--事件描述-->
    <doc-api type="event">
        <doc-prop name="STI.highlight.range" args="selection" desc="选择的时间区间">
        </doc-prop>
    </doc-api>
</doc-section>