/**
 * sti样式库
 * by zhangdi 
 */
/*
*sti样式表基本样式，包括灰度，核心颜色，脚手架样式，排版，各个组件
*
*/
/*
* variables.less
* common variables & common function
*/
/*
* color.less 属性，后期迁移
*

*/
/*
* color.less
* Common colors
*/
/**
 * 
 */
/* 浅色系 */
/* panel  */
/* 深色系 */
/*
*清除浮动
*1 opera
*2 block 子元素含margin-top
*/
html,
body,
h1,
h2,
h3,
div,
p,
form,
ul,
ol,
li,
table,
th,
td,
label,
pre,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
button,
input,
select,
textarea {
  font: normal 14px/1.5em 'Microsoft YaHei', '微软雅黑', arial, helvetica, sans-serif;
}
html,
body {
  height: 100%;
}
body {
  overflow: auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button,
input {
  outline: none;
}
/**
 * 主布局样式
 * by zhangdi
 */
.sti-container {
  width: 100%;
  height: 100%;
  background-color: #f3f3f4;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.container-sub {
  background-color: #293846;
  border-color: #2f4050;
  transition: all .3s ease;
  position: relative;
}
.container-main {
  height: 100%;
  padding: 0 15px 0 15px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
.container-header {
  height: 60px;
  background-color: #2A2D34;
  line-height: 60px;
  margin-top: -60px;
  box-shadow: 0 2px 2px #474B57;
  position: relative;
  z-index: 1010;
}
.container-header > .header-title {
  width: 220px;
  height: inherit;
  display: inline-block;
  background-color: #42D28D;
  text-align: center;
  position: relative;
  z-index: 1;
}
.container-header > .header-title > span {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
.container-header > .header-title > .header-menu {
  width: 36px;
  line-height: 36px;
  font-size: 24px;
  color: #fff;
  margin: 12px 0;
  border-radius: 4px;
  background-color: #42D28D;
  box-shadow: 1px 1px 1px 1px #2A2D34;
  display: inline-block;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  position: absolute;
  right: 0;
}
.container-header > .header-config {
  height: inherit;
  display: inline-block;
  position: relative;
  z-index: 1;
  float: right;
  font-family: "Noto Sans CJK SC", "Source Han Sans CN";
}
.container-header > .header-config > ul {
  color: #fff;
}
.container-header > .header-config > ul i {
  margin-right: 10px;
  position: relative;
  top: 20px;
  font-size: 170%;
}
.container-header > .header-config > ul * {
  cursor: pointer;
}
.container-header > .header-config > ul li {
  margin-right: 46px;
  float: right;
}
.container-header > .header-config > ul li:hover {
  color: #E0E1E2;
}
.container-header > .header-config > ul li label {
  font-weight: lighter;
  font-size: 14px;
}
.container-header > .header-config > ul li > * {
  float: left;
}
.container-header > .header-config > ul li:nth-child(3) {
  margin-right: 30px;
}
.container-header > .header-config > ul li:nth-child(3) > span {
  margin-right: 10px;
  height: 30px;
  width: 30px;
  border: white 1px solid;
  border-radius: 15px;
  top: 15px;
  position: relative;
  background: #E0E1E2;
}
.container-header > .header-config > ul li:nth-child(3) > label {
  margin-right: 10px;
}
.container-header > .header-config > ul li:nth-child(3) > i {
  margin-right: 0;
}
.container-header > .header-config > ul li:nth-child(2) > span {
  position: absolute;
  background: red;
  line-height: 15px;
  width: auto;
  border-radius: 15px;
  top: 10px;
  left: 200px;
  text-align: center;
  padding: 2px;
  font-size: 80%;
}
.container-header .header-nav i {
  font-size: 24px;
  color: #fff;
  line-height: 60px;
}
.container-header .header-nav i.nav-menu {
  float: right;
}
.container-header .header-nav .header-panel {
  height: 100%;
  position: fixed;
  padding-top: 60px;
  top: 0;
  right: 0;
  z-index: 9;
}
.container-aside {
  width: 300px;
  height: 100%;
  padding-top: 60px;
  border-left: 1px solid #ddd;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.container-content {
  background-color: transparent;
  padding-top: 60px;
}
.container-content > .content-title {
  line-height: 60px;
  padding: 0 15px;
  margin: -60px -15px 0 -15px;
  border-bottom: 2px solid #ddd;
}
.container-fullpage {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 1030;
}
.container-dark {
  background-color: #151919;
}
.container-home {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
}
.container-home > .search-panel {
  height: 300px;
  background: url('../../../img/login-2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 300px;
}
.container-home > .search-panel > .container > div:nth-child(1) {
  padding-top: 50px;
  color: #fff;
}
.container-home > .search-panel > .container > div:nth-child(1) h1 {
  font-size: 20px;
  position: relative;
}
.container-home > .search-panel > .container > div:nth-child(1) h1 span,
.container-home > .search-panel > .container > div:nth-child(1) h1 i {
  position: absolute;
  font-size: 15px;
  right: 0;
}
.container-home > .search-panel > .container > div:nth-child(1) h1 span:hover,
.container-home > .search-panel > .container > div:nth-child(1) h1 i:hover {
  cursor: pointer;
  color: #E0E1E2;
}
.container-home > .search-panel > .container > div:nth-child(1) h1 span {
  right: 10px;
}
.container-home > .search-panel > .container > form {
  color: #fff;
}
.container-home > .search-panel > .container > form label {
  margin-top: 30px;
  padding-right: 0;
}
.container-home > .search-panel > .container > form label i {
  position: absolute;
  top: 15px;
  right: 10%;
  font-size: 170%;
}
.container-home > .search-panel > .container > form .form-control {
  background: transparent;
  height: 45px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-color: #fff;
  color: #fff;
}
.container-home > .search-panel > .container > form .form-control option {
  color: #fff;
  background: transparent;
  height: 45px;
}
.container-home > .search-panel > .container > form .form-control:hover {
  cursor: pointer;
}
.container-home > .search-panel > .container > form label:nth-child(1) input:hover {
  cursor: default;
}
.container-home > .search-panel > .container > div:nth-child(3) {
  padding-top: 30px;
}
.container-home > .search-panel > .container > div:nth-child(3) button {
  color: #fff;
  font-size: 15px;
  border: 1px solid #42d28d;
  height: 45px;
  width: 150px;
  background-color: rgba(66, 210, 141, 0.6);
}
.container-home > .search-panel > .container > div:nth-child(3) button:hover {
  background-color: rgba(66, 210, 141, 0.8);
}
.container-home > .view-panel {
  overflow-x: hidden;
  margin-top: -50px;
}
.container-home > .view-panel .view-app {
  display: block;
  width: 240px;
  height: 330px;
  margin: 0 auto 50px;
  color: #BDC1CA;
  font-size: 14px;
}
.container-home > .view-panel .view-app > .app-image {
  display: block;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
  background-color: #42D28D;
  border-radius: 100%;
  color: #ffffff;
  font-size: 36px;
}
.container-home > .view-panel .view-app > .app-content {
  height: 130px;
  overflow: hidden;
}
.container-home > .view-panel .view-app > .app-content > h3 {
  font-size: 24px;
  margin: 20px 0;
  text-align: center;
  color: #656C7D;
}
.container-home > .view-panel .view-app > .app-oper:before,
.container-home > .view-panel .view-app > .app-oper:after {
  content: " ";
  display: table;
}
.container-home > .view-panel .view-app > .app-oper:after {
  clear: both;
}
.container-home > .view-panel .view-app > .app-oper button {
  display: inline-block;
  box-sizing: border-box;
  float: left;
  width: 110px;
  height: 35px;
  border-radius: 17px;
  border: 1px solid #BDC1CA;
  color: inherit;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container-home > .view-panel .view-app > .app-oper button:nth-child(odd) {
  margin-right: 20px;
}
.container-home > .view-panel .view-app.active .img {
  border: 5px solid rgba(45, 190, 110, 0.1);
}
.container-home > .view-panel .view-app.active .view-content {
  color: #656C7D;
}
.container-home > .view-panel .view-app.active .view-content > h3 {
  color: #474B57;
}
.container-home > .view-panel .view-app.active .view-oper button.checked {
  border-color: #42D28D;
  color: #42D28D;
}
.container-home > .view-panel .view-app.disabled .app-image {
  background-color: #BDC1CA;
}
.container-home > .view-panel .view-app.disabled > .app-content > h3 {
  color: #ffff;
}
.container-home > .view-panel .view-app.disabled > .app-content p {
  text-align: center;
  color: #BDC1CA;
}
.sti-vertical {
  padding-top: 60px;
}
.sti-vertical .container-sub {
  height: 60px;
  line-height: 60px;
  margin-top: -60px;
}
.sti-horizontal {
  padding-top: 60px;
}
.sti-horizontal .container-sub {
  height: 100%;
  float: left;
}
.sti-horizontal .container-sub.min-sub {
  width: 70px;
}
.sti-panel {
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.sti-panel:before,
.sti-panel:after {
  content: " ";
  display: table;
}
.sti-panel:after {
  clear: both;
}
.sti-panel .sti-panel-head {
  background-color: #fff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}
.sti-panel .sti-panel-head h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
.sti-panel .sti-panel-head .sti-panel-tools {
  display: block;
  float: none;
  margin-top: 0;
  position: relative;
  padding: 0;
  text-align: right;
}
.sti-panel .sti-panel-head .sti-panel-tools a {
  cursor: pointer;
  margin-left: 5px;
  color: #c4c4c4;
}
.sti-panel .sti-panel-head .sti-panel-tools > .dropdown-menu {
  left: auto;
  right: 0;
}
.sti-panel .sti-panel-head .sti-panel-tools > .dropdown-menu li > a {
  color: #333;
}
.sti-panel .sti-panel-content {
  background-color: #fff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}
.sti-panel .sti-panel-content:before,
.sti-panel .sti-panel-content:after {
  content: " ";
  display: table;
}
.sti-panel .sti-panel-content:after {
  clear: both;
}
/**
 * 菜单布局
 * by zhangdi
 */
.sti-menu {
  height: 100%;
  line-height: 60px;
  position: relative;
  transition: all .5s ease;
  overflow: hidden;
  background-color: #474B57;
}
.sti-menu > .sti-menu-title {
  background-color: #373B46;
  height: 60px;
  line-height: 60px;
  color: #BDC1CA;
  font-size: 18px;
  padding-left: 30px;
}
.sti-menu > .sti-menu-content {
  width: 220px;
}
.sti-menu > .sti-menu-content .sti-menu-text {
  box-sizing: border-box;
  display: block;
  font-weight: 600;
  color: #BDC1CA;
  padding: 9px 30px;
  line-height: 32px;
  white-space: nowrap;
  transition: all .2s ease;
  overflow: hidden;
  text-decoration: none;
}
.sti-menu > .sti-menu-content .sti-menu-text > .sti-menu-arrow {
  line-height: 32px;
  float: right;
}
.sti-menu > .sti-menu-content .sti-menu-text.active > .sti-menu-arrow {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.sti-menu > .sti-menu-content .sti-menu-dropdown {
  background-color: #2A2D34;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.sti-menu > .sti-menu-content .sti-menu-dropdown .sti-menu-item {
  transition: all .4s;
}
.sti-menu > .sti-menu-content .sti-menu-dropdown .sti-menu-item .sti-menu-text {
  border-left: 4px solid #35C07C;
  color: #BDC1CA;
}
.sti-menu > .sti-menu-content .sti-menu-dropdown .sti-menu-item .sti-menu-text.checked {
  color: #ffffff;
}
.sti-menu > .sti-menu-content .sti-menu-dropdown .sti-menu-item .sti-menu-text:visited {
  color: #ffffff;
}
.sti-menu > .sti-menu-content .sti-menu-dropdown .sti-menu-item .sti-menu-text:hover {
  color: #ffffff;
}
.sti-menu.sti-menu-horiz {
  width: 100%;
  overflow: visible;
  background-color: transparent;
}
.sti-menu.sti-menu-horiz ul {
  width: 300px;
}
.sti-menu.sti-menu-horiz .sti-menu-content,
.sti-menu.sti-menu-horiz .sti-menu-dropdown {
  background-color: rgba(247, 248, 252, 0.8);
  height: 100%;
  border-right: 1px solid #656C7D;
  margin-left: 1px;
}
.sti-menu.sti-menu-horiz .sti-menu-content .sti-menu-item .sti-menu-text,
.sti-menu.sti-menu-horiz .sti-menu-dropdown .sti-menu-item .sti-menu-text {
  border-left: none;
  color: #656C7D;
}
.sti-menu.sti-menu-horiz .sti-menu-content .sti-menu-item .sti-menu-text.checked,
.sti-menu.sti-menu-horiz .sti-menu-dropdown .sti-menu-item .sti-menu-text.checked {
  color: #35C07C;
}
.sti-menu.sti-menu-horiz .sti-menu-content .sti-menu-item .sti-menu-text:visited,
.sti-menu.sti-menu-horiz .sti-menu-dropdown .sti-menu-item .sti-menu-text:visited {
  color: #35C07C;
}
.sti-menu.sti-menu-horiz .sti-menu-content .sti-menu-item .sti-menu-text:hover,
.sti-menu.sti-menu-horiz .sti-menu-dropdown .sti-menu-item .sti-menu-text:hover {
  color: #35C07C;
}
.sti-menu.sti-menu-horiz .sti-menu-content .sti-menu-item .sti-menu-text > .sti-menu-arrow,
.sti-menu.sti-menu-horiz .sti-menu-dropdown .sti-menu-item .sti-menu-text > .sti-menu-arrow {
  -webkit-transform: none;
          transform: none;
}
.sti-menu.sti-menu-horiz .sti-menu-dropdown {
  overflow: visible;
  position: absolute;
  top: 0;
  left: 100%;
}
.sti-menu.sti-menu-horiz.sti-horiz-rgt .sti-menu-dropdown {
  left: initial;
  right: 100%;
}
.sti-menu.sti-menu-horiz.sti-horiz-rgt .sti-menu-dropdown .sti-menu-text.checked,
.sti-menu.sti-menu-horiz.sti-horiz-rgt .sti-menu-dropdown .sti-menu-text:hover {
  color: #35C07C;
  background-color: #f7f8fc;
}
.sti-menu .sti-menu-sidebar {
  text-align: center;
  position: relative;
  margin-bottom: 15px;
}
.sti-menu .sti-menu-sidebar:before {
  display: inline-block;
  content: "";
  height: 0;
  border-top: 1px solid #a7b1c2;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 12px;
}
.sti-menu .sti-menu-sidebar i {
  border-radius: 25px;
  width: 25px;
  height: 25px;
  position: relative;
  border: 1px solid #a7b1c2;
  color: #fff;
  padding: 4px;
  background-color: #a7b1c2;
  cursor: pointer;
}
.sti-menu .sti-sidebar-transition {
  transition: all .3s ease;
  overflow: hidden;
}
.sti-menu .sti-sidebar-enter,
.sti-menu .sti-sidebar-leave {
  opacity: 0;
}
.sti-tabs {
  width: 100%;
  height: 100%;
  float: none;
  position: relative;
  text-align: left;
}
.sti-tabs li {
  float: left;
  display: block;
}
.sti-tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.sti-tabs label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  background: #ccc;
  cursor: pointer;
  position: relative;
  top: 4px;
  transition: all 0.2s ease-in-out;
}
.sti-tabs label:hover {
  background: #ddd;
}
.sti-tabs .sti-tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 53px;
  left: 0;
  background: #fff;
}
.sti-tabs [id^="sti-tab"]:checked + label {
  top: 0;
  padding-top: 17px;
  background: #fff;
}
.sti-tabs [id^="sti-tab"]:checked ~ [id^="sti-tab-content"] {
  display: block;
}
/**
 * 动画库
 */
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.sti-fadeInLeft {
  -webkit-animation: fadeInLeft 0.5s ease-in;
          animation: fadeInLeft 0.5s ease-in;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.sti-fadeInRight {
  -webkit-animation: fadeInRight 0.5s ease-in;
          animation: fadeInRight 0.5s ease-in;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.sti-fadeInUp {
  -webkit-animation: fadeInUp 0.5s ease-in;
          animation: fadeInUp 0.5s ease-in;
}
@-webkit-keyframes fadeInUpMin {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInUpMin {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.sti-fadeInUpMin {
  -webkit-animation: fadeInUpMin 0.5s ease-in;
          animation: fadeInUpMin 0.5s ease-in;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.sti-fadeInDown {
  -webkit-animation: fadeInDown 0.5s ease-in;
          animation: fadeInDown 0.5s ease-in;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.sti-fadeIn {
  -webkit-animation: fadeIn 0.5s ease-in;
          animation: fadeIn 0.5s ease-in;
}
@-webkit-keyframes foldInDown {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}
@keyframes foldInDown {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}
.sti-foldInDown {
  -webkit-animation: foldInDown 0.5s ease-in;
          animation: foldInDown 0.5s ease-in;
}
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}
.sti-fadeOutUp {
  -webkit-animation-name: fadeOutUp;
          animation-name: fadeOutUp;
}
@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  40% {
    opacity: 1;
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  40% {
    opacity: 1;
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
}
@-webkit-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}
@keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}
.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
          animation-name: bounceOutUp;
}
/**
 * 基于vue动画库
 */
.sti-fadeInLeft-transition {
  opacity: 1;
  transition: all 0.3s ease-in;
}
.sti-fadeInLeft-enter {
  opacity: 0.5;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
.sti-fadeInLeft-leave {
  opacity: 0.5;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}
.sti-fadeIn-transition {
  opacity: 1;
  transition: all 0.3s ease-in;
}
.sti-fadeIn-enter,
.sti-fadeIn-leave {
  opacity: 0;
}
.sti-fadeInR2l-transition {
  opacity: 1;
  transition: all 0.3s ease-in;
}
.sti-fadeInR2l-enter,
.sti-fadeInR2l-leave {
  opacity: 0.5;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
.sti-fadeInL2r-transition {
  opacity: 1;
  transition: all 0.3s ease-in;
}
.sti-fadeInL2r-enter,
.sti-fadeInL2r-leave {
  opacity: 0.5;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}
.sti-bounce-enter {
  -webkit-animation: bounceInDown 1s;
          animation: bounceInDown 1s;
}
.sti-bounce-leave {
  -webkit-animation: fadeOutUp .5s;
          animation: fadeOutUp .5s;
}
.dashboard-container {
  font-size: 0;
  min-width: 300px;
}
.dashboard-container > .dashboard-panel {
  font-size: 14px;
  background: #EDEDED;
  width: 300px;
  min-width: 300px;
  height: 200px;
  display: inline-block;
  border: 1px solid #42D28D;
  margin: 0 10px 25px 0;
}
.dashboard-container > .dashboard-panel > .dashboard-title {
  padding: 6px;
  background: #42D28D;
}
.dashboard-container > .dashboard-panel > .dashboard-title > span {
  display: inline-block;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
}
.dashboard-container > .dashboard-panel > .dashboard-title > .dash-canel {
  color: #fff;
  text-align: right;
}
.dashboard-container > .dashboard-panel > .dashboard-title > .dash-canel > i {
  cursor: pointer;
}
